{% extends 'base.html' %}

{% block content %}
<h1>About Us</h1>
<p>Children’s Corner is a website that consists of lists of educational tools and learning materials 
essential for a kid’s school life. The website aims to provide children, parents, and educators an 
online resource they can use as a reference for learning.</p> 
<br>
<body>
    <img src="https://www.thespruce.com/thmb/rabGcEddWy9OCA6c1HlbpCFMx2o=/1500x1000/filters:no_upscale():max_bytes(150000):strip_icc()/_hero_4151145-3-2-5c2d2092c9e77c000152f1dc.jpg" 
    alt=""
    style="width:800px;height:400px;">
</body>
<br>
<br>
<br>

<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Directory</th>
        <th scope="col">#</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Landline Number:</th>
        <td>717-7586</td>
    </tr>
    <tr>
      <th scope="row">Cellphone Number:</th>
      <td>09288557800</td>
    </tr>
</thead>
<tbody>
</table>
<br>
<br>

<table class="table table-info table-striped">
    <thead>
      <tr>
        <th scope="col">Social Media Platforms</th>
        <th scope="col">Accounts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Facebook:</th>
        <td>facebook.com/childrenscorner</td>
    </tr>
    <tr>
      <th scope="row">Instagram:</th>
      <td>@childrens_corner</td>
    </tr>
    <tr>
        <th scope="row">Email:</th>
        <td>childrenscorner@gmail.com</td>
      </tr>
    </thead>
<tbody>
</table>
{% endblock %}